<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/main.css">
    <!-- Basic Icons -->
<link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
</head>
<body>
    <main class="form-page">

        <div class="form-layout">

            <!-- Encabezado -->
            <div class="form-progress">

                <div class="form-header-top">

                    <div class="step active">
                        <i class="bx bx-user-hexagon"></i>
                    </div>

                    <div class="step">
                        <i class="bx bx-phone"></i>
                    </div>

                    <div class="step">
                        <i class="bx bx-people-heart"></i>
                    </div>

                </div>

                <div class="student-photo">

                    <input class="photo-input" type="image">

                    <label class="photo-label"></label>

                </div>
            </div>

            <!-- Información del estudiante -->
            <div class="form-card">

                <div class="card-header">
                    informacion del estudiante
                </div>

                <div class="card-body">

                    <div class="student-form">

                        <div class="form-group">
                            <label>nombre</label>
                            <input type="text">
                        </div>

                        <div class="form-group">
                            <label>identidad</label>
                            <input type="text">
                        </div>

                        <div class="form-group">
                            <label>fecha de nacimiento</label>
                            <input type="date">
                        </div>

                        <div class="form-group">
                            <label>genero</label>
                            <select>
                                <option>all</option>
                            </select>
                        </div>

                    </div>

                    <div class="student-photo">

                        <input type="image">

                        <label></label>

                    </div>

                </div>

            </div>

            <!-- Información de contacto -->
            <div class="form-card">

                <div class="card-header">
                    informacion de contacto
                </div>

                <div class="card-body">

                    <div class="form-group">
                        <label>direccion</label>
                        <input type="text">
                    </div>

                </div>

            </div>

            <!-- Espacio para futuras secciones -->
            <div class="form-card">

            </div>

            <!-- Información familiar -->
            <div class="form-card">

                <div class="card-header">

                    <i></i>

                    informacion familiar

                </div>

                <div class="card-body family-form">

                    <div class="form-group">
                        <label>nombre acudiente</label>
                        <input type="text">
                    </div>

                    <div class="form-group">
                        <label>telefono</label>
                        <input type="text">
                    </div>

                    <div class="form-group">
                        <label>correo</label>
                        <input type="text">
                    </div>

                    <div class="form-group">
                        <label>identificacion</label>
                        <input type="text">
                    </div>

                    <div class="form-group">
                        <label>parentesco</label>

                        <select>
                            <option>all</option>
                        </select>

                    </div>

                </div>

            </div>

            <!-- Acciones -->
            <div class="form-actions">

                <button class="btn-create">
                    crear
                </button>

                <button class="btn-cancel">
                    cancelar
                </button>

            </div>

        </div>

    </main>
</body>
</html>