<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div id="content-title" class="content-title">

        <div class="content-title__header">
            <div class="content-title__header-main">
                <div class="content-title__info">
                    <div class="content-title__title">
                        Título
                    </div>
                    <div class="content-title__description">
                        Descripción del contenido
                    </div>
                </div>
                <div class="content-title__actions">
                    <!-- Search -->
                    <!-- Select -->
                    <!-- Botones -->
                    <!-- Contador -->
                </div>
            </div>
            <div class="content-title__pagination">

                <!-- Paginador -->

            </div>
        </div>

        <div class="content-title__body">

            <!-- Contenido -->

        </div>

        <div class="content-title__footer">

            <!-- Información adicional -->

        </div>

    </div>
    <script src="Scr.JS"></script>
</body>
</html>