<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/main.css">
    <!-- Basic Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <!-- Filled Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
    <!-- Brand Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/brands/boxicons-brands.min.css" rel="stylesheet">
</head>
<body>
<section>
    <div class="table">
        <div class="table-container">
            <table class="table-content">

                <thead class="table-head">
                    <tr class="table-head-row">

                        <th class="table-head-cell">ID</th>
                        <th class="table-head-cell">Nombre</th>
                        <th class="table-head-cell">Curso</th>
                        <th class="table-head-cell">Correo</th>
                        <th class="table-head-cell">Teléfono</th>
                        <th class="table-head-cell">Acciones</th>

                    </tr>
                </thead>

                <tbody class="table-body" id="table-body">
                    <tr class="table-body-row">

                        <td class="table-body-cell">001</td>
                        <td class="table-body-cell">Jesús David</td>
                        <td class="table-body-cell">11°A</td>
                        <td class="table-body-cell">jesus@atenea.io</td>
                        <td class="table-body-cell">3001234567</td>
                        <td class="table-body-cell">
                            <button class="btn btn-icon">
                                <i class="bx bx-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</section>
<span class="table-category">
    <i class="table-category__icon bx bx-category"></i>
    <span class="table-category__name">Administración</span>
</span>

<div id="funciona_progress">
    <span class="progress-track" data-value="30">
        <div class="bar">
            <div class="progress-bar">
            </div>
        </div>
        <span class="value-progress">
        </span>
    </span>
</div>

<script>
    progressBar(100, "funciona_progress");

    function progressBar(maxValue, containerId) {
        const progressContainer = document.getElementById(containerId);

        const progressTracks = progressContainer.querySelectorAll(".progress-track");
        
        progressTracks.forEach(track => {

            const valuProgress = track.querySelector(".value-progress");

            const currentValue = Number(track.dataset.value);

            const trackWidth = track.getBoundingClientRect().width;

            const percentage = (currentValue / maxValue) * trackWidth;

            const progressBar = track.querySelector(".progress-bar");

            valuProgress.textContent = `${currentValue}`;
            
            progressBar.style.width = `${percentage}px`;

        });

    }
</script>
</body>
</html>