<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/main.css">
    <!-- Basic Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css" rel="stylesheet">
    <!-- Filled Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css" rel="stylesheet">
    <!-- Brand Icons -->
    <link href="https://cdn.boxicons.com/3.0.8/fonts/brands/boxicons-brands.min.css" rel="stylesheet">
</head>
<body>
    <main>
        <!-- ==========================================================
            BUTTON COMPONENTS
            Variantes básicas del sistema de botones.
        ========================================================== -->

        <!-- ==========================================================
            ICON + TEXT BUTTON
            Botón con icono al inicio y texto.
        ========================================================== -->
        <div class="container">

            <button class="btn1" id="">
                <span>Large button</span>
                <i class="bx bx-pencil-sparkles"></i>
            </button>
            
            <button class="btn2" id="">
                <span>Large button</span>
                <i class="bx bx-pencil-sparkles"></i>
            </button>

            <button class="btn3" id="">
                <span>Large button</span>
                <i class="bx bx-pencil-sparkles"></i>
            </button>

        </div>


    </main>
</body>
</html>