<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/main.css">
</head>
<body>
    <main>
        <div id="content-title" class="content-title">
            <div class="content-title__info">
                <div class="content-title__title">
                    Título1
                </div>
                <div class="content-title__description">
                    Descripción del contenido
                </div>
            </div>
            <div class="content__actions">
                <!-- Search -->
                <!-- Select -->
                <!-- Botones -->
                <!-- Contador -->

                <div class="content__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat autem culpa corrupti exercitationem obcaecati vero. Sed quaerat odit similique odio, voluptates modi officia voluptatem ab. Ratione adipisci quas corporis quam.
                </div>
            </div>
        </div>
    </main>
    <script src="Scr.JS"></script>
</body>
</html>