@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  /* ========= Base ========= */
  --text: rgb(29, 21, 81);
  --background: rgb(244, 246, 254);
  --surface: rgb(238, 238, 238);
  --primary: rgb(29, 21, 81);
  --white: rgb(251, 251, 254);
  --gray: rgb(238, 238, 238);
  --gradient-start: rgb(23, 17, 124);
  --gradient-end: rgb(4, 3, 22);
  /* ========= Neutrales ========= */
  --neutral-50:#F4F4F4;
  --neutral-100:#E8E8E8;
  --neutral-300:#CFCFCF;
  /* ========= Warning ========= */
  --warning-light:#FFF1B3;
  --warning:#FFAF80;
  --warning-dark:#E08E5D;
  /* ========= Error ========= */
  --danger-light:#FFC2C2;
  --danger:#FF8080;
  --danger-dark:#D96565;
  /* ========= Orange ========= */
  --orange-light:#FFE2B5;
  --orange:#FFD080;
  --orange-dark:#E4B45A;
  /* ========= Purple ========= */
  --purple-light:#DFC0FF;
  --purple:#C680FF;
  --purple-dark:#A85BE6;
  /* ========= Success ========= */
  --success-light:#D6F49A;
  --success:#BDE964;
  --success-dark:#99C44A;
  --primary-100:#F4E5FF;
  --primary-200:#E8C7FF;
  --primary-300:#D79CFF;
  --primary-400:#C667FA;
  --primary:#B541F4;
  --primary-600:#9730D0;
  --primary-700:#7B24A8;
  --primary-800:#5D1B80;
  --primary-900:#42125C;
}

[data-theme=dark] {
  --text: rgb(251, 251, 254);
  --background: rgb(31, 31, 31);
  --surface: rgb(43, 43, 43);
  --gradient-start: rgb(251, 251, 254);
  --gradient-end: rgb(251, 251, 254);
  --primary:#C680FF;
  --secondary:#B541F4;
  --primary-100:#5D1B80;
  --primary-200:#7B24A8;
  --primary-300:#9730D0;
  --primary-400:#B541F4;
  --navy:#FBFBFE;
  --neutral-50:#383838;
  --neutral-100:#444444;
  --neutral-300:#666666;
}

/* ========= Base ========= */
/* ========= Neutrales ========= */
/* ========= Warning ========= */
/* ========= Danger ========= */
/* ========= Orange ========= */
/* ========= Purple ========= */
/* ========= Success ========= */
/* ========= Primary Scale ========= */
/* ========= Navy ========= */
/* ==========================================================
   BREAKPOINTS
========================================================== */
/* ==========================================================
   SPACING
========================================================== */
/* ==========================================================
   FONT SIZE
========================================================== */
/* ==========================================================
   FONT WEIGHT
========================================================== */
/* ==========================================================
   BORDER RADIUS
========================================================== */
/* ==========================================================
   COMPONENT SIZE
========================================================== */
/* ==========================================================
   TRANSITIONS
========================================================== */
/* ==========================================================
   OPACITY
========================================================== */
/* ==========================================================
   SHADOWS
========================================================== */
/* ==========================================================
   Z-INDEX
========================================================== */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  background-color: var(--gray-200);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  gap: 100px;
}

.btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 6px;
  background: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 999px;
  cursor: pointer;
}
.btn1 i {
  display: block;
  font-size: 0.875rem;
  line-height: 1;
}
.btn1 span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 8px;
  gap: 6px;
  background: var(--primary);
  color: var(--white);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}
.btn-primary i {
  display: block;
  font-size: 0.875rem;
  line-height: 1;
}
.btn-primary span {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  background-color: var(--gray-200);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80%;
  gap: 100px;
}

#Select {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
#Select .select-trigger {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 9px 16px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  background: var(--white);
  color: var(--gray-200);
  cursor: pointer;
  transition: all 0.3s ease;
}
#Select .select-trigger i {
  font-size: 1rem;
  line-height: 1;
  transition: transform 0.3s ease;
}
#Select .select-trigger span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 500;
}
#Select .select-menu {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  background: var(--white);
  border: 1px solid var(--primary);
  border-radius: 4px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
#Select .select-menu .select-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 9px 16px;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  transition: background 0.15s ease;
}
#Select .select-menu .select-item:hover {
  background: var(--primary);
  color: var(--white);
}
#Select .select-menu .select-item span {
  display: flex;
  align-items: center;
  gap: 8px;
}
#Select.active {
  z-index: 100;
}
#Select.active .select-menu {
  overflow-y: auto;
  max-height: 150px;
  opacity: 1;
  visibility: visible;
}
#Select.active .select-trigger > i {
  transform: rotate(180deg);
}

#Select2 {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
#Select2 .select-trigger {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 9px 16px;
  border: 1px solid var(--primary);
  border-radius: 999px;
  background: var(--white);
  color: var(--gray-200);
  cursor: pointer;
  transition: all 0.3s ease;
}
#Select2 .select-trigger i {
  font-size: 1rem;
  line-height: 1;
  transition: transform 0.3s ease;
}
#Select2 .select-trigger span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 500;
}
#Select2 .select-menu {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  background: var(--white);
  border: 1px solid var(--primary);
  border-radius: 4px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}
#Select2 .select-menu .select-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 9px 16px;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  transition: background 0.15s ease;
}
#Select2 .select-menu .select-item:hover {
  background: var(--primary);
  color: var(--white);
}
#Select2 .select-menu .select-item span {
  display: flex;
  align-items: center;
  gap: 8px;
}
#Select2.active {
  z-index: 100;
}
#Select2.active .select-menu {
  overflow-y: auto;
  max-height: 150px;
  opacity: 1;
  visibility: visible;
}
#Select2.active .select-trigger > i {
  transform: rotate(180deg);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100vw;
}
section .table {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  border: 1px solid var(--purple);
  border-radius: 8px;
  background: var(--primary-100);
}
section .table .table-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 600px;
}
section .table .table-container table {
  width: 100%;
  min-width: 1200px;
  border-collapse: collapse;
  table-layout: fixed;
}
section .table .table-container table thead {
  position: sticky;
  z-index: 5;
  background: var(--white);
  border-bottom: 1px solid var(--purple);
}
section .table .table-container table thead th {
  text-align: center;
  color: inherit;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 24px;
  white-space: nowrap;
}
section .table .table-container table tbody {
  background: transparent;
}
section .table .table-container table tbody td {
  overflow: hidden;
  text-align: center;
  color: inherit;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 10px 20px;
  white-space: nowrap;
}
section .table .table-container table tbody tr {
  user-select: none;
  cursor: pointer;
  border-bottom: 1px solid var(--purple);
}
section .table .table-container table tbody tr:hover {
  background: var(--purple-light);
}

#funciona_progress {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  gap: 8px;
}
#funciona_progress .bar {
  display: flex;
  width: 200px;
  height: auto;
  background-color: rgb(214, 214, 214);
  border-radius: 999px;
}
#funciona_progress .bar .progress-bar {
  width: 0%;
  height: 4px;
  background-color: var(--primary);
  border-radius: 999px;
  transition: all 0.5s ease;
}
#funciona_progress .value-progress {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--primary);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
